.layout {}

.layout-left {
    overflow: auto;
    position: fixed;
    width: 220px;
    height: 100vh;
    background: $brand-primary;
    @media screen and (max-width: $screen-xs-max) {
        position: relative;
        width: 100%;
        height: auto;
    }
}

.layout-left-avator {
    margin: 30px auto;
    width: 160px;
    height: 160px;
    border-radius: 160px;
    border: 5px solid rgba(#FFF, 0.2);
    @media screen and (max-width: $screen-xs-max) {
        display: none;
    }
}

.layout-left-menu {
    margin: 0 auto;
    ul {
        text-align: center;
        li {
            @media screen and (max-width: $screen-xs-max) {
                float: left;
            }
            a {
                color: rgba($color: #FFF, $alpha: 0.75);
                &:hover {
                    color: rgba($color: #FFF, $alpha: 1.0);
                    background: transparent;
                }
            }
        }
    }
}

.layout-right {
    padding-left: 220px;
    min-height: 100vh;
    @media screen and (max-width: $screen-xs-max) {
        padding-left: 0;
    }
}
