/* var **/

$layout-left-width: 270px;

/* left **/

.layout-left {
    position: fixed;
    left: 0;
    top: 0;
    width: $layout-left-width;
    height: 100%;
    background: $brand-primary;
    display: flex;
    flex-direction: column;
    @at-root {
        #{&}-avator {
            margin: auto auto 0;
            width: 160px;
            height: 160px;
            background: #fff;
        }
        #{&}-menu {
            margin: 30px auto auto;
            ul {
                li {
                    a {
                        color: rgba($color: #FFF, $alpha: 0.75);
                        &:hover {
                            color: rgba($color: #FFF, $alpha: 1.0);
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .layout-left {
        visibility: hidden;
    }
}

.layout-right {
    padding-left: $layout-left-width;
    height: 100%;
}

@media (max-width: $screen-xs-max) {
    .layout-right {
        padding-left: 0;
    }
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
